body {
 background-color: lightgray;
  max-width: 500px;
  margin:auto;}
    
  @font-face{
  font-family: 'CenturyGothic';
  src: url('/fonts/centurygothic.ttf') format('truetype');}
  p,h1{
    font-family: 'CenturyGothic';
  color: black;
  text-align: center;}
.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
