body {
 background-color: lightgray;
  max-width: 500px;
  margin:auto;}
    
   
.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
